playwright==1.32.0
pytest==7.2.0
pytest-mock
pytest-playwright==0.15.0
pytest-xdist==3.2.1
pytest-cov==3.0.0
pytest-dependency==0.5.0
pandas
seaborn 
matplotlib
PyQt5
bokeh
xmltodict
h5py
